footer {
    width: 100%;
    max-width: 90rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10.625rem 10rem 6.375rem;
    background: url(../assets/img/book-trace-background.png) no-repeat;
    background-size: cover;
    margin-inline: auto;

    & .icons-wrapper {
        display: flex;
        flex-flow: column;

        & hr {
            margin-block: .75rem;
            border: 1px solid var(--shape-stroke);
        }
        
        & img[src*="logo"] {
            width: 16.5rem;
        }

        & .social {
            display: flex;
            justify-content: center;
        }
    }

    & .top-links {
        display: flex;
        gap: 3.5rem;

        & h2 {
            font: var(--title-xs);
            margin-bottom: .5rem;
        }

        & ul {
            display: grid;
            justify-content: start;
            gap: .75rem;

            & li a {
                font: var(--link-text);
                color: var(--blue-light);
                transition: color 300ms ease-in-out;
    
                &:hover {
                    color: var(--text-body);
                }
            }
        }

    }
}
@media only screen and (min-width: 375px) and (max-width: 430px) {
    footer {
        flex-direction: column;
        gap: 2.5rem;
        padding: 6.125rem 2rem 2.37rem;
        background-size: cover;
        background-position: center;

        & .icons-wrapper {
            display: grid;
        
            & img[src*="logo"] {
                width: 9.91rem;
                justify-self: center;
            }
        }
    }
}