main {
    max-width: 90rem;
    width: 100%;
    position: relative;
    padding-bottom: 5rem;
    margin-inline: auto;
    

    & nav {
        padding: 3.5rem 7.5rem 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;

        & img {
            width: 14.375rem;
        }
    }

    & #hero {
        padding: 3.5rem 7.5rem 5rem;
        height: 66.25vw;
        display: grid;
        background: url(../assets/img/hero-background.png) no-repeat;
        background-size: contain;
        position: relative;
        opacity: 0;
        animation: fadeground 3s linear forwards;



        & .content {
            justify-self: center;
            width: 41rem;
            text-align: center;
            margin-block: 17.375rem;

            & h1 {
                font: var(--title-lg);
                color: var(--text-title);
            }
            & p {
                display: inline-block;
                margin: 1rem 2.75rem;
                opacity: 0;
                animation: fadeground 3s ease 1s forwards;
            }
        }
    }

    & #subtitle {
        padding: 6rem 7.5rem 5rem;
        text-align: center;
        
        & .container{
            padding: 7.125rem 2rem 9.875rem;
            position: relative;

            & img {
                position: absolute;
                width: 5.5rem;
            }

            &:hover h2 span:nth-child(1) {
                animation: fadeground 200ms linear both;
                & img {  
                    animation: scaleIn 200ms linear both;
                }
                & strong {
                    color: var(--blue-light);
                }
            }
            &:hover h2 span:nth-child(2) {
                animation: fadeground 200ms 500ms linear both;
                & img {  
                    animation: scaleIn 200ms 500ms linear both;
                }
                & strong {
                    color: var(--blue-light);
                }
            }
            &:hover h2 span:nth-child(3) {
                animation: fadeground 200ms 1s linear both;
                & img {  
                    animation: scaleIn 200ms 1s linear both;
                }
                & strong {
                    color: var(--blue-light);
                }
            }

            & h2 {
                font: var(--subtitle);

                & span {
                    position: relative;
                    opacity: 0.5;

                    & img {
                        position: absolute;
                        width: 5.5rem;
                        scale: 0;
                    }

                    & img[src*="spellbook"] {
                        bottom: 4rem;
                        left: 32rem;
                        transition: transform 500ms ease-in-out;
                        
                        
                        &:hover {
                            transform: rotate(27deg) scale(1.1);
                        }
                    }
                    & img[src*="ouija"] {
                        width: 5rem;
                        top: 8rem;
                        right: 27.5rem;
                        transform: rotate(90deg);

                        transition: transform 500ms ease-in-out;
                        
                        &:hover {
                            transform: rotate(110deg) scale(1.1);
                        }
                    }
                    & img[src*="crystal"] {
                        width: 4.5rem;
                        top: 4rem;
                        left: 47rem;
                        transform: rotate(-25deg);
                        transition: transform 500ms ease-in-out;

                        &:hover {
                            transform: rotate(-10deg) scale(1.1);
                        }
                    }


                }

                & strong {
                    color: inherit;
                }
            }

        }
    }
}

@keyframes fadeground {
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    to {
        scale: 1;
    }
}