main {
    max-width: 90rem;
    width: 100%;
    height: 59.25vw;
    background: url(../assets/img/hero-background.png) no-repeat;
    background-size: contain;
    margin-inline: auto;
    animation: fadeground 3s ease normal forwards;

    & #hero {
        padding: 3.5rem 7.5rem 5rem;
        display: grid;

        & nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & img {
                width: 14.375rem;
            }
        }

        & .content {
            justify-self: center;
            width: 41rem;
            text-align: center;
            margin-block: 8.25rem;

            & h1 {
                font: var(--title-lg);
                color: var(--text-title);
            }
            & p {
                animation: fadeground 2s ease 1s normal forwards;
            }
        }
    }
}

@keyframes fadeground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}