#signatures {
    width: 100%;
    max-width: 90rem;
    padding: 12.125rem 12.18rem 18.875rem;
    
    & header {
        text-align: center;

        & h2 {
            font: var(--title-sm);
            color: var(--text-title);
        }
    }

    & .cards-wrapper {
        display: flex;
        justify-content: center;

        & .card {
            position: relative;
    
            & img {
                width: 2.1rem;
                height: 3.38rem;
            }
            & .card-content {
                padding-block: 2.25rem 2rem;
                padding-inline: 2.25rem;
                border: 1px solid var(--shape-stroke);
                background: var(--shape-base);
                border-radius: 1.5rem;

                & h3 {
                    font: var(--title-sx);
                    color: var(--blue-light);
                    margin-bottom: .86rem;
                }
                & zin-princing {
                    display: inline-block;
                    font: var(--title-md);
                    color: var(--text-title);
                    margin-bottom: .5rem;

                    & small {
                        font: var(--title-xs);
                    }
                }
                & p {
                    font: var(--body-sm);
                    color: var(--text-label);
                    margin-bottom: 4.16rem;
                }

                & ul[role="list"] {
                    font: var(--body-xs);
                    margin-left: -13px;
                    margin-bottom: 2.25rem;
                    
                    & li {
                        display: flex;
                        align-items: center;

                        & span {
                            width: 2rem;
                            height: 2rem;
                            background: url(../assets/icon/stars-blue.svg) no-repeat;
                            background-size: cover;
                        }
                        
                    }
                }
            }
        }
    }


}