.btn {
    font: var(--button-text);
    color: var(--text-title);
    background: var(--pink-dark);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: var(--pink-base);        
        border-radius: 20%;
        transform: scaleX(0);
        transition: transform 400ms ease-in-out;
        z-index: -1;
    }

    &:hover::before {
        transform: ScaleX(2);
    }
}
.btn-sm {
    padding: .75rem 1.25rem;


}
.btn-md {
    width: 100%;
    padding: .75rem 3.28rem;
}
.btn-premium {
    background-color: var(--blue-dark);

    &::before {
        
        background: var(--blue-mid);        
        
    }

    
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5rem;
    width: 2.5rem;
    height: 2.5rem;
    position: relative;

    & svg {
        width: 1.5rem;
        z-index: 1;
        fill: var(--blue-light);
    }

    &::before {
        content: "";
        background: var(--shape-stroke);
        width: inherit;
        height: inherit;
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }

    &:hover::before {
        opacity: 1;
    }

    &:hover svg {
        fill: var(--text-body);
    }

}

