.btn {
    font: var(--button-text);
    color: var(--text-title);
    background: var(--pink-dark);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: var(--pink-base);        
        border-radius: 20%;
        transform: scaleX(0);
        transition: transform 400ms ease-in-out;
        z-index: -1;
    }

    &:hover::before {
        transform: ScaleX(2);
    }
}
.btn-sm {
    padding: .75rem 1.25rem;


}
.btn-md {
    width: 100%;
    padding: .75rem 3.28rem;
}
.btn-premium {
    background-color: var(--blue-dark);

    &::before {
        
        background: var(--blue-mid);        
        
    }

    
}

